var moneyFormat = {
  /**
   * 千分符
   * @money 金额
   */
  thousandMark: function(money) {
    console.log('a')
    let money = (money || 0).toString();
    let result = '';
    while (money.length > 3) {
      result = ',' + money.slice(-3) + result;
      money = money.slice(0, money.length - 3);
    }
    if (money) {
      result = money + result;
    }
    return result
  }
}

module.exports = {
  thousandMark: moneyFormat.thousandMark
}